
.cover{
    background-color: rgb(107, 179, 241);
    width: 25em;
    height: 28em;
    position: relative;
    box-shadow: 0 0.188em 1.550em rgb(156,156,156);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}

input{
    border:none;    
    background-color: rgb(229,226,226);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding:2em;
}

input:focus{
    outline-color: rgb(32,177,255);
}

.create-btn{
    width:40%;
    height:3em;
    background-color: rgb(32,177,255);
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.create-btn:hover{
    transform: scale(1.03);
}


.login-account{
    width: 80%;
    height: 3em;
    display:flex;
    justify-content: space-around;
    text-decoration: none;
}

.login-account Link{
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: rgb(0, 160, 160);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
