
.homepage{
    background-color: rgb(255, 215, 215);
    width: 75%;
    height: 100%;
    position: relative;
    box-shadow: 0 0.188em 1.550em rgb(156,156,156);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.home_header{
    background-color: rgb(114, 114, 114);
    width: 100%;
    height: 8%;
    position: absolute;
    top:0;
    box-shadow: 0 0.188em 1.550em rgb(156,156,156);
    display:flex;
    flex-direction: column;
}

.search-people{
    width: 40%;
    height: 10%;
    position: absolute;
    margin-left: 65%;
    top: 10%;
}

.dashboard *{
    position: relative;
    margin:5%;
    top: 100%;
    height:fit-content;
    margin-top: 10%;
    text-decoration: none;
}

.search-result{
    position:relative;
    width: 75%;
    height: 10%;
    background-color: rgb(189, 189, 189);
}

.search-result *{
    text-align: center;
    margin-top:5%;
}